language: node_js
node_js:
  - "10"
cache:
  directories:
  - node_modules # NPM packages
before_script:
  - npm install `cat npm-requirements.txt`
script:
  - remark docs/*.md --frail
deploy:
  provider: pages
  local-dir: site
  cleanup: true
  keep-history: true
  github-token: $GITHUB_TOKEN
  on:
    branch: master